@font-face {
  font-family: 'Merriweather';
  src: url('assets/fonts/Merriweather-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('assets/fonts/Golos-Text_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.page-wrapper {
  max-width: 1496px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.hero {
  position: relative;
  background-color: #E9DED4;
  overflow: hidden;
}

.hero__background img {
  width: 100%;
  height: auto;
  display: block;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding-top: 60px;
  box-sizing: border-box;
}

.hero__logo {
  max-width: 245px;
  margin-left: 35px;
  margin-bottom: 0px;
}

.hero__title {
  font-family: 'Merriweather', serif;
  margin-left: 35px;
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: 300;
}

.hero__subtitle {
 font-family: 'Golos Text', serif; 
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.hero__buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  height: 72px;
  width: 263px;
  padding: 0 24px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 36px; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-family: 'Golos Text', sans-serif;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
}

.btn-dark:hover {
  background-color: #FBCE51;  
  color: #000;
}

.btn-outline:hover {
  background-color: #000;
  color: #fff;
}

.ticker-wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F54932;
  color: #fff;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 0;
  overflow: hidden;
  z-index: 2;
}

.ticker__wrapper {
  display: flex;
  width: fit-content;
  animation: ticker-scroll 20s linear infinite;
}

.ticker__content {
  padding-right: 50px;
  white-space: nowrap;
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}